/* Main Style stylesheet*/

/* color scheme referenced from: https://colourco.de/
https://colourco.de/monochrome/9/bf5534*/

body {
  background-color: #FFFAFA;
}

/* Font Family adapted from https://www.w3schools.com/css/css_font.asp*/
h1, h2, p {
  font-family: "Gill Sans", Geneva, sans-serif;
}

/* styling the texts*/
.italics{
  font-style: italic;
}

p{
  margin-left: 5px;
}

.wrap{
  text-align: left;
  width: 625px;
}

.underline {
  text-align: center;
  margin-top: 50px;
  text-decoration: underline;
}

/* 2. https://www.w3schools.com/css/css3_images.asp*/
img {
  display: inline-block;
  border-radius: 5px;
  margin: 5px;
  margin-left: 15px;
  margin-right: auto;
}

.indent{
  margin-left: 90px;
}

/* responsive designs and caption for photo gallery in about page */
.gallery {
  width: 100%;
  height: auto;
}

.caption {
  text-align: center;
  font-family: "Gill Sans", Geneva, sans-serif;
  margin-bottom: 30px;
  font-weight: bold;
}

.responsive {
  margin-left: 6px;
  float: left;
  width: 30%
}

.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
}

/* 3. Nav Bar Adapted from https://www.w3schools.com/css/css_navbar_horizontal.asp */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Gill Sans", Geneva, sans-serif;
}

li {
  float: left;
  border-right: 1px solid #BBB;
}

li a {
  display: block;
  padding: 10px;
  background-color: #B45031;
  text-decoration: none;
  color: white;
}

li a:hover:not(.active) {
  background-color: #9D472C;
}

.active {
  background-color: #59291A;
  text-transform: uppercase;
}

/* 1. Table properties Adapated from https://www.w3schools.com/css/css_table.asp */
table, th, td {
  border-collapse: collapse;
  width: auto;
  font-family: "Gill Sans", Geneva, sans-serif;
  margin-bottom: 30px;
}

th, td {
  padding: 10px;
  text-align:left;
  border-bottom: 1px solid #ddd;
}

th{
  background-color: #9D472C;
  color: white;
}

tr:hover {background-color: #F4D8D5;}
tr:nth-child(even){background-color: #F4D8D5}
/**/
