/* Main Style stylesheet*/

/* color scheme referenced from: https://colourco.de/
https://colourco.de/monochrome/9/bf5534*/

body {
  background-color: #FFFAFA;
}

/* Font Family adapted from https://www.w3schools.com/css/css_font.asp*/
h1, h2, h3, p {
  font-family: Tahoma, Geneva, sans-serif;
}

/* 2. https://www.w3schools.com/css/css3_images.asp*/
img {
  display: inline-block;
  border-radius: 5px;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* 3. Nav Bar Adapted from https://www.w3schools.com/css/css_navbar_horizontal.asp */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Tahoma, Geneva, sans-serif;
}

li {
  float: left;
  border-right: 1px solid #BBB;
}

li a {
  display: block;
  padding: 10px;
  background-color: #B45031;
  text-decoration: none;
  color: white;
}

li a:hover:not(.active) {
  background-color: #9D472C;
}

.active {
  background-color: #59291A;
}

/* 1. Table properties Adapated from https://www.w3schools.com/css/css_table.asp */
table, th, td {
  border-collapse: collapse;
  width: auto;
  font-family: Tahoma, Geneva, sans-serif;
}

th, td {
  padding: 10px;
  text-align:left;
  border-bottom: 1px solid #ddd;
}

th{
  background-color: #9D472C;
  color: white;
}

tr:hover {background-color: #F4D8D5;}
tr:nth-child(even){background-color: #F4D8D5}
/**/
