/* Text & Outline*/
body {
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  background-color: #fafafa;
}

.logo {
  margin-right: 18px;
}

.header {
  background-color: #333;
  border-radius: 3px;
}

/* Nav Bar*/
/* Adapted from https://www.w3schools.com/css/css_navbar_horizontal.asp */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari, needed for firefox */
  position: sticky;
  top: 0;
  border-top: 1px solid #444;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #314C9b;
}

nav .active {
  background-color: #263973;
  text-transform: uppercase;
}

/* Content */

section {
  margin-top: 40px;
}

.top-text {
  margin-top: 35px;
}

.inner-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  max-width: 80%;
}

.title-text{
  font-size: 51px;
  margin-bottom: 24px;
}

figcaption {
  font-size: 14px;
  /* font-weight: bold; */
}

iframe {
  width: 100%;
}

/* About page images */

.row {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.img-center{
  margin-left: auto;
  margin-right: auto;
}

.border{
  border: 1px solid gray;
  width: 100%;
}

/* Slideshow Gallery */
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.gallery-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  margin-top: -4px;
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  margin-bottom: 5px;
  color: white;
}

#caption {
  margin: 8px 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* Footer */
.footer {
    background-color: #666666;
    border-radius: 5px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 10px;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

#copyright {
  margin: 4px 4px;
}

a:hover {
  font-style: italic;
}

/* Icons */
.fab:hover {
    opacity: 0.7;
}

/* Color Scheme
referenced from https://colourco.de/monochrome/5/020306 */
